.app-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: $space-small $space-normal;

  &-page_title {
    margin: 0 $space-normal;
  }

  &-open_sidebar {
    font-size: $f-medium;
    color: $c-spacecadet;

    &:hover {
      color: darken($c-spacecadet, 10%);
    }
  }
}
