@font-face {
  font-family: 'react-demo';
  src: url('../fonts/icons/react-demo.eot?50022376');
  src: url('../fonts/icons/react-demo.eot?50022376#iefix') format('embedded-opentype'),
       url('../fonts/icons/react-demo.woff2?50022376') format('woff2'),
       url('../fonts/icons/react-demo.woff?50022376') format('woff'),
       url('../fonts/icons/react-demo.ttf?50022376') format('truetype'),
       url('../fonts/icons/react-demo.svg?50022376#react-demo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'react-demo';
    src: url('../fonts/icons/react-demo.svg?50022376#react-demo') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "react-demo";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-ccw:before { content: '\f025'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */
