.modal {
  background: $c-white;
  border-radius: 3px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: 3px solid $c-white;
  z-index: 20;

  @media (max-width: $screen-small) {
    left: 30px;
    right: 30px;
    width: calc(100% - 60px);
    max-height: calc(100% - 60px);
    transform: translate(0, -50%);
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($c-bg, .85);
    outline: none;
    z-index: 20;
  }

  &-inner {
    padding: 24px;

    @media (max-width: $screen-small) {
      padding: 20px 15px 15px;
    }
  }
}
