.app-sidebar {
  background: $c-spacecadet;
  color: $c-honeydew;
  position: relative;

  &-logo {
    border-bottom: 1px solid $c-queenblue;
    padding: 0 $space-normal;
    line-height: 39px;
    height: 40px;
    margin-bottom: $space-big;
  }

  &-section_header {
    text-transform: uppercase;
    color: $c-queenblue;
    padding: 0 $space-normal;
    margin: 0 0 $space-small;
    font-weight: $fw-bold;
  }

  &-close {
    position: absolute;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    color: $c-honeydew;
    transition: .3s opacity;
    font-size: $f-medium;

    &:hover {
      color: $c-honeydew;
      opacity: .6;
    }
  }

  &-nav {
    display: block;
    margin: 0 0 $space-big;
    padding: 0;

    &-item {
      display: block;
      margin: 0;
      padding: 0;
    }

    &-link {
      color: $c-honeydew;
      display: block;
      font-size: $f-small;
      padding: $space-small $space-normal;
      text-decoration: none;
      transition: .2s background-color;

      &:hover {
        background: $c-queenblue;
        color: $c-honeydew;
      }
    }
  }
}
