#app,
[data-reactroot],
html,
body {
  height: 100%;
}

.app {
  display: flex;
  height: 100%;
  overflow: hidden;

  &-sidebar {
    flex-shrink: 0;
    overflow-y: auto;
    width: 250px;

    &--hidden {
      display: none;
    }

    // Hide sidebar on mobile - it will be removed when show/hide sidebar functionality will be implemented
    @media (max-width: $screen-medium) {
      display: none;
    }
  }

  &-main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-header {
    flex-shrink: 0;
    border-bottom: 1px solid $c-lightblue;
    height: 40px;

    &--hidden {
      display: none;
    }
  }

  &-content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: 1;
    display: flex;
    flex-direction: column;

    &-inner {
      padding: $space-big;
    }
  }
}
